

// font sizes based on weights
$fs-base: 16px;
$fs-xl: 5rem;
$fs-l: 2rem;
$fs-600: 1.5rem;
$fs-500: 1.25rem;
$fs-400: 1rem;

// font familys
$ff-base: 'Montserrat', sans-serif;
$ff-headings: 'Merriweather', serif;

// line heights
$lh-XL: 35px;
$lh-L: 30px;
$lh-M: 25px;
$lh-paragraphs: 20px;

// colors
$fc-Highlights-blue: #0096FF;
$fc-Highlights-slate: #ccd6f6;

